.demande-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 11px;
  background-color: #f2f2f1;
  box-shadow: 2px 2px 5px #888;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  margin-top: 50px;
}


.demande-form label {
  margin: 5px;
}

.demande-form textarea {
  height: 100px;
}

.demande-form input[type="datetime-local"] {
  width: 250px;
}

.form-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: white;
}

.form-container.active .demande-form {
  display: flex;
}

.form-container.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.demande-form label {
  margin: 5px;
  color: #8a8e92;
  font-size: 18px;
  
  transform-origin: top left;
  transition: all 0.2s ease-out;
}

/*.demande-form label.active {
  color: #4229e6;
  text-shadow: 0px 0px 25px #4229e6;
}*/

.demande-form select option:first-child {
  background-color: transparent;
}


.input {
  padding: 5px;
  margin: 5px;
  width: 845px;
  height: 50px;
  background-color: #fff;
  border: 2px solid #d8d8d9;
  border-radius: 5px;
  font-size: 16px;
  color: #000;
}

.input option {
  background-color: #fff;
  color: #000;
}

.input:focus {
  outline: none;
  box-shadow: 0px 0px 2px 1px #4229e6;

}


input[type="datetime-local"] {
width: 500px;
border: 2px solid #d8d8d9;
}

.placeholder {
  color: transparent;
}


.demande-form textarea.input-motif {
width: 100%;
padding: 10px;
font-size: 16px;
border: 2px solid #d8d8d9;
margin-bottom: 20px;
resize: none;
font-family: inherit;
height: 40px !important;
overflow: hidden;
}

textarea.input-motif {
  width: 850px !important;
  margin-left: 5px;
}

/*.active {
  color: purple;
  background: none;
  padding: 0 3px;
}*/



.button-container {
  margin-top: 50px;
}

.button {
padding: 5px 10px;
margin: 5px;
margin-left: 100px;
border: none;
border-radius: 5px;
background-color: #4CAF50;
color: white;
cursor: pointer;
font-size: 16px;
float: right; 
}


.button-a {
padding: 5px 50px;
margin: 5px;
margin-left: 150px;
border: none;
border-radius: 5px;
background-color: #d20808;
transition: background 0.5s, transform 0.5s;
color: white;
cursor: pointer;
font-size: 16px;
float: right; 
}

.button-e {
padding: 5px 50px;
margin: 5px;
border: none;
border-radius: 5px;
background-color: #af7c4c;
transition: background 0.5s, transform 0.5s;
color: white;
cursor: pointer;
font-size: 16px;
float: right; 
}


.button-e:hover {
  background-color: #d47822;
  transform: translateY(-10px);
}

.button-a:hover {
  background-color: #FF004F;
  transform: translateY(-10px);
}

.button-s:hover {
  background-color: #21ed3c;
  transform: translateY(-10px);
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

input:focus, textarea:focus {
  outline: none;
  border: 2px solid purple;
  box-shadow: 0 0 3px #4229e6;
  color: black;
}

.demande-form select:focus option:not(:first-child),
.demande-form input[type="datetime-local"]:focus {
  outline: none;
  border: 2px solid #4229e6;
  box-shadow: 0px 0px 2px 1px #4229e6;
}
