@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;800&family=Roboto:wght@400;700&display=swap');
*{
    font-family: Roboto;
}

.table-container {
  padding-top: 150px; 
}
.custom-table {
  border-collapse: collapse;
  width: 100%;
}

.custom-table thead th:first-child {
  border-top-left-radius: 5px;
}

.custom-table thead th:last-child {
  border-top-right-radius: 5px;
}

.custom-table th {
  background-color: #40C8F4;
}


.table-header,
.table-cell {
  padding: 12px 8px;
  text-align: left;
  border-bottom: 1px solid #918f8f;
}

.table-header {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

.btn {
  padding: 5px 2px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.5s, transform 0.5s;
}

.btn:hover {
  background-color: #21ed3c;
  transform: translateY(-2px);
}

