@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;800&family=Roboto:wght@400;700&display=swap');
*{
    font-family: Roboto;
    
  }
  body {
    overflow-x: hidden;
  }
  .Visualization {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
  }
  
  .details-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .info-section {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FF004F;
  }
  
  h4 {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .info-label {
    font-weight: bold;
    margin-right: 10px;
    color: #1651cf;
  }
  
  .user-info h4 {
    color: #1651cf;
    margin-top: 10px;
  }

  .sideright {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px;
    font-size: 105%;
    position: absolute;
    top: 130px;
    right: 30px;
    width: 260px;
    clear: right;
  }
  
  .info-label-1 {
    margin-left: 20px;
    color: #1651cf;
  }

.btn {
  background-color: #1651cf;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
}
    
    
.btn:hover {
  background-color: #0f1ba3;
}
  
.btn-a {
  background-color:  #FF5555;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
  cursor: pointer;
}
      
      
.btn-a:hover {
  background-color: #FF004F;
}

.btn-v{
  background-color: #00CC66;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
 }
        
        
.btn-v:hover {
  background-color: #00E699;
}

.btn-r{
  background-color: #FF0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
 }
          
          
.btn-r:hover {
  background-color: #FF3333;
}

.btn-e{
  background-color: #FF8800 ;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}
            
            
.btn-e:hover {
  background-color: #FFAA33;
 }
  

 .buttons {
  padding-left: 820px;
 }
    
   